language: go

go:
  - 1.9.x
  - tip

before_install:
  - go get -t -v ./...
  - go get -v github.com/Masterminds/glide
  - cd $GOPATH/src/github.com/Masterminds/glide && git checkout v0.12.3 && make && cd -
  - go get github.com/alecthomas/gometalinter/...
  - gometalinter --install --update

script:
  - ./test.sh

after_success:
  - bash <(curl -s https://codecov.io/bash)
