name: Go
on: push

jobs:

  test:
    name: Run Checks

    runs-on: ubuntu-latest

    strategy:

      matrix:
        go: [ '1.15.x', '1.16.x' ]

    steps:

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Set up Go ${{ matrix.go }}
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go }}
        id: go

      - name: Run Unit Tests
        run: |
          touch coverage.txt
          for d in $(go list ./... | grep -v vendor); do
            go test -race -coverprofile=profile.out -covermode=atomic $d
            if [[ -f profile.out ]]; then
              cat profile.out >> coverage.txt
              rm profile.out
            fi
          done

      - name: Upload Coverage report to CodeCov
        uses: codecov/codecov-action@v1
        with:
          token: ${{secrets.CODECOV_TOKEN}}
          file: ./coverage.txt
          fail_if_ci_error: true
